<apex:page >

   <div id="webserviceResponse" style="width:500px; height:100px; border:1px solid gray;margin-bottom:10px;">
    
    </div>
    <button id="postTheRequest">Post</button>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <script>
     var testData = [{"name":"locationId","value":"a002800000GSjR3AAL"},{"name":"categoryId","value":"a0528000002UlASAA0"},{"name":"appointmentTypeId","value":"a012800000Dzlq3AAB"},{"name":"practitionerId","value":"00328000007yYAbAAM"},{"name":"weekStart","value":"20,03,2016"},{"name":"weekEnd","value":"26,03,2016"}];
        $('#postTheRequest').click(function(){
           
            var request = $.ajax({
               url: "https://testprac-developer-edition.ap2.force.com/services/apexrest/endUserWidget/fetch",
               //crossDomain: true,
               method: "POST",
               data: JSON.stringify(testData),
               contentType: "application/json; charset=utf-8",
               dataType: "json"
            });
             console.log("Data--"+JSON.stringify(testData)  );
            request.done(function( msg ) {
                console.log(msg);
              $( "#webserviceResponse" ).html( msg );
            });
             
            request.fail(function( jqXHR, textStatus ) {
              alert( "Request failed: " + textStatus );
            });     
        });
    </script>

</apex:page>