<apex:page standardStylesheets="false" sidebar="false" showHeader="false" >
<!--
<apex:stylesheet value="{!URLFOR($Resource.Styles, 'Styles/css/bootstrap.min.css')}"/>
<link rel="stylesheet" type="text/css" href="{!$Resource.Styles}/Styles/bootstrap-table.css"/>
    <style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
body{
    font-family: arial;
    font-size: 14px;        
}
</style>

<script>
var isEpracAdminVar =true;
</script>
    <b>Waitlist</b>
   <apex:form >
    <apex:outputPanel id="labelGrid">
   
    <table style="margin-top: 10px;">
        <tr>
            <td >
                <b>Added Date</b>
            </td>
            <td >
                <b>Patient Name</b>
            </td>
            <td >
                <b>Patient Contact No</b>
            </td>
            <td >
                <b>location</b>
            </td>
            <td >
                <b>Category</b>
            </td>
            <td >
                <b>appointment type</b>
            </td>
            <td >
                <b>Practioner name</b>
            </td>
            <td >
                <b>Description</b>
            </td>
            <td >
                <b>Action</b>
            </td>
        </tr>
       
        <apex:repeat value="{!eventwrapperlist}"  var="labelVar">
            <tr>
                <td>
                    <apex:outputText value="{!labelVar.addeddate}"></apex:outputText>
                </td>
                 <td>
                    <apex:outputLink value="/{!labelVar.relid}">{!labelVar.relname}</apex:outputLink>
                </td>
                <td>
                    <apex:outputText value="{!labelVar.relconno}"></apex:outputText>
                </td>
                <td>
                     <apex:outputText value="{!labelVar.location}"></apex:outputText>  
                </td>
                <td>
                    <apex:outputText value="{!labelVar.Category}"></apex:outputText>
                </td>
                <td>
                     <apex:outputText value="{!labelVar.Appointmenttype}"></apex:outputText>  
                </td>
                <td>
                    <apex:outputText value="{!labelVar.Name}"></apex:outputText>
                </td>
                <td>
                    <apex:outputText value="{!labelVar.Des}"></apex:outputText>
                </td>
                <td>
                    <Apex:commandbutton value="Delete" action="{!doDelete}" rerender="labelGrid" style=" margin-top: 10px">
                        <apex:param name="evId" assignTo="{!evId}" value="{!labelVar.eveid}" />
                    </Apex:commandbutton>               
                </td>
            </tr>     
        </apex:repeat>
       </table>
    
     </apex:outputPanel>
    
        <apex:commandLink value="First Page" rerender="labelGrid" action="{!FirstPage}" />&nbsp;
        <apex:commandLink value="Previous" rerender="labelGrid" action="{!previous}" />&nbsp;
        <apex:commandLink value="Next" rerender="labelGrid" action="{!next}" />&nbsp;
        <apex:commandLink value="Last Page" rerender="labelGrid" action="{!LastPage}" />
        
      
</apex:form>
    
    <div>
    <table id="table11"></table>
    </div>

<apex:pagemessages ></apex:pagemessages>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/jquery.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.Styles, '/Styles/bootstrap-table.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/moment.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/fullcalendar.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/jquery-ui.custom.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/bootstrap.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/prefixfree.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/jquery.placeholder.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/fastclick.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/images/lang/en-au.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/jquery.timepicker.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets, 'assets/js/jquery-ui.js')}"/>
<apex:includeScript value="{!$Resource.ScheduleWizardJS}"/>
<apex:includeScript value="{!URLFOR($Resource.Styles, 'Styles/js/bootstrap-datetimepicker.min.js')}"/>  
<script>

$('document').ready(function(){

                    var waitListData = '{!eventwrapperlistjson}';
                
                    $('#table11').bootstrapTable({
                        pagination:true,
                        height:250,
                        sidePagination:'client',
                        pageSize:3,
                        columns: [{
                            field: 'relname',
                            title: 'Relname',
                            sortable: true,
                            formatter: function(value,row,index){
                                var url = location.origin+'/'+row.relid;
                                console.log(url);
                                return [
                                    '<a href="'+url+'">',
                                    value,
                                    '</a>'
                                ].join('');
                            }
                        }, {
                            field: 'relid',
                            title: 'Relid',
                            sortable: true,
                            visible:false
                        }, {
                            field: 'relconno',
                            title: 'Relconno',
                            sortable: true
                        }, {
                            field: 'Name',
                            title: 'Name',
                            sortable: true
                        }, {
                            field: 'location',
                            title: 'Location',
                            sortable: true
                        }, {
                            field: 'Des',
                            title: 'Des',
                            sortable: true
                        }, {
                            field: 'Category',
                            title: 'Category',
                            sortable: true
                        }, {
                            field: 'Appointmenttype',
                            title: 'Appointmenttype',
                            sortable: true
                        }, {
                            field: 'addeddate',
                            title: 'Addeddate',
                            sortable: true
                        },{
                            field: 'eveid',
                            title: 'Id',
                            visible:false
                        },{
                            field: 'operate',
                            title: 'Item Operate',
                            align: 'center',
                            events: {
                                'click .remove': function (e, value, row, index) {
                                    $('#table').bootstrapTable('remove', {
                                        field: 'eveid',
                                        values: [row.eveid]
                                    });
                                }
                            },
                            formatter: function(value,row,index){
                                return [
                                    '<a class="remove" href="javascript:void(0)" title="Remove">',
                                    '<i class="glyphicon glyphicon-trash"></i>',
                                    '</a>'
                                ].join('');
                            }
                        }],
                        data:JSON.parse(waitListData)
                  });                         
              
            });
</script>

-->
</apex:page>